transformers<=4.55.2
triton<=3.1.0
torch<=2.5.1
torchao<=0.11.0
torchaudio<=2.5.1
torchvision<=0.20.1
numpy<=1.26.4
diffusers<=0.34.0
opencv-python
pyyaml
scikit-learn
scipy
tensorboard
timm
tqdm
bcolz-zipline
prettytable
menpo
mxnet
einops
lmdb
yapf